// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.gravatar
  margin: 0 10px 0 0
  float: left

.avatar-n-name h2
  overflow: hidden

.b-users
  list-style: none
  margin: 0
  padding: 0

.b-user
  overflow: hidden
  padding: 10px 0
  border-top: 1px solid #eee
  vertical-align: middle

.b-user__nickname
  margin: 20px 0 0
  display: inline-block

.b-user__fullname
  display: block
