// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.gravatar
  margin: 0 10px 0 0
  float: left

.avatar-n-name h2
  overflow: hidden
